body{
  background-color: #252c2e;
  background-image: url("https://wallpapercave.com/wp/wp2497493.jpg");
  background-size: cover;
}

.result {
  height: 60px;
  background-color: #bbb;
  width: 100%;
}

.result p {
  font-size: 40px;
  font-family: "Times New Roman", Times, serif;
  margin: 5px;
  color:#006380;

}

.calculator-body {
  max-width: 600px;
  margin: auto;
}

.button {
  display: block;
  background-color: #806f80;
}

button {
  width: 25%;
  height: 60px;
  font-size: 30px;
  color: #4000ff
}
